ul {
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFA;
}

nav.navbar.navbar-default.navbar-static-top{
    width: 100%;
    height: 6vh;
    left: 0%;
    top: 0%;
    margin: 0;
    padding: 0;
}
nav.navbar.navbar-default.navbar-static-top .container-fluid {
    width: 100%;
    height: 6vh;
    left: 0%;
    top: 0%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
    height: 94vh;
    left: 0%;
    top: 0%;
    margin: 0;
    padding: 0;
}

.tab-content {
    width: 100%;
    height: 94vh;
    left: 0%;
    top: 0%;
}

.tab-pane.active {
    width: 100%;
    height: 94vh;
    left: 0%;
    top: 0%;
}

div#art_movements.carousel.slide {
    position: absolute;
    width: 100vw;
    height: 65vh;
    left: 0%;
    top: 19%;
}

div.carousel-inner {
    position: absolute;
    width: 100vw;
    height: 65vh;
}

div.item.active {
    position: absolute;
    width: 100vw;
    height: 65vh;
}

div.carousel-caption {
    position: absolute;
    font-family: 'Comfortaa', cursive;
    color: #062C42;
    width: 41vw;
    height: 65vh;
    top: 0;
    left: 5%;
    margin: 0;
    padding: 0;
}

div.carousel-caption h2{
    font-size: 1.56vw;
}
div.carousel-caption h3{
    font-size: 1.30vw;
}
div.carousel-caption h4{
    font-size: 1.04vw;
}
div.carousel-caption p{
    font-size: 0.78vw;
}

img.img-responsive.center-block {
    position: absolute;
    width: 41vw;
    height: 65vh;
    top: 0;
    left: 54%;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75)
}

a.left.carousel-control{
    background: none;
}

a.right.carousel-control{
    background: none;
}

/*******************Second Tab****************************/
div#network.visNetwork.html-widget.html-widget-output.shiny-bound-output{
    position: absolute;
    top: 18.52%;
    left: 5.21%;
    border-radius: 2.60vw;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.75)
}

p.reactions-connections {
    width: 21.41vw;
    height: 20.74vh;
    left: 63.65%;
    top: 39.07%;
    font: 2.60vw;
    position: absolute;
    font-family: 'Comfortaa', cursive;
    color: #062C42;
    font-size: 2.60vw;
}
